<div class="container">
  <div class="row">
    <select ng-model="chart" class="form-control">
      <option value="featured">Featured</option>
      <option value="most_popular">Most Popular</option>
      <option value="trending">Trending</option>
      <option value="most_recent">Most Recent</option>
    </select>
  </div>
  <div class="row">
    <div ng-repeat="movie in movies" class="col-md-4 col-sm-6 col-xs-12">
      <div class="movie-container">
        <a href="/movie/{{movie.youtubeId}}">
          <div class="thumbnail">
            <div class="poster img-rounded">
              <img ng-src="{{movie.posterUrl}}" alt="{{movie.title}}" />
            </div><!-- end .img-rounded -->
          </div><!-- end .thumbnail -->
          <div class="title">
            {{movie.title}}
          </div><!-- end .title -->
        </a>
        <div user-favorite ng-movie="movie"></div>
      </div><!-- end .movie-container -->
    </div><!-- end .movie -->
  </div>
</div>