<!-- for people who are logged in -->
<div ng-if="currentUser">

  <a class="favorite" 
     ng-click="removeFavorite(ngMovie)"
     ng-if="isFavorite">
    <span class="favorited-heart">&#x2665;</span> Favorite
  </a>

  <a class="favorite"
     ng-click="addFavorite(ngMovie)"
     ng-if="!isFavorite">
    <span class="unfavorited-heart">&#x2661;</span> Add Favorite
  </a>

</div>

<!-- for people who are not logged in -->
<div ng-if="!currentUser">
  <a class="favorite" 
     ng-click="triedToFavorite=true" 
     ng-hide="triedToFavorite">
    <span class="unfavorited-heart">&#x2661;</span> Add Favorite
  </a>

  <div class="error" ng-show="triedToFavorite">
    You have to be logged in to favorite. Would you like to <a href="/login">register</a>?
  </div>
</div>