@import "bootstrap-sprockets";
@import "bootstrap";

/* FONTS */
@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,700,900);
 
/* OVERALL ASPECT */
 
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
 
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}
 
/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
 
 
/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}
 
.centered {
    text-align: center;
}
 
.mt {
	margin-top: 40px;
}
 
/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;
 
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
 
a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}
 
a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}
 
/* Bootstrap Modifications */
 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
 
 
.navbar {
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 15px;
	background-color: #ffffff;
}
 
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: #ffffff;
	background-color: #74cfae;
}
 
.navbar-brand {
	font-size: 60px;
	padding-top: 0px;
	padding-bottom: 0px;
}
 
.btn-theme {
	color: #ffffff;
	background-color: #74cfae;
	border-color: transparent;
}
 
.btn {
	padding: 10px 30px;
	margin-bottom: 0;
	font-size: 18px;
	border: 5px solid transparent;
	border-radius: 0px;
}
 
.lead {
	letter-spacing: 1px;
}
 
/* WRAP SECTIONS */
 
/* hello */
#hello {
	width: 100%;
	padding-top: 250px;
	padding-bottom: 250px;
}
 
#hello h1 {
	font-size: 90px;
	font-weight: 700;
	letter-spacing: 3px;
	color: #74cfae;
}
 
#hello h2 {
	color: #c0c0c0;
	font-weight: 400;
}
 
/* Green */
#green {
	background-color: #74cfae;
	padding-top: 50px;
	margin-bottom: 0px;
}
 
#green h3 {
	color: white;
	font-weight: 400;
	margin-bottom: 35px;
}
 
#green p {
	color: white;
	font-weight: 400;
	font-size: 20px;
}
 
/* Skills */
#skills {
	background-color: #4e4e4e;
	padding-top: 50px;
	padding-bottom: 50px;
	margin-top: 50px;
}
 
#skills h3 {
	color: white;
}
 
#skills p {
	color: white;
	font-weight: 400;
}
 
/* Social Links */
#social {
	width: 100%;
	padding-top: 200px;
	padding-bottom: 200px;
}
 
#social i {
	font-size: 50px;
	color: #74cfae;
}
 
#social .col-md-3:hover {
	background-color: #f5f5f5;
}
 
#social .col-md-3 {
	padding:30px;
}
 
/* Footer */
#f {
  margin-top: 2em;
	padding-top: 20px;
	background-color: #505050;
}
 
#f p {
	color: white;
	text-align: right;
	font-weight: 400;
}
 
/* Image Opacity */
.grid img {
    opacity: .7;
}
.grid img:hover {
    opacity: 1;
}
 
.user-panel-container {
  margin-top: 2.4em;
}
 
html, body {
  height: 100%;
}
 
#primary {
  min-height: 100%;
}
 
#main {
  padding-bottom:90px; /* this needs to be bigger than footer height*/
}
 
#f {
  position: relative;
  // margin-top: -70px; /* negative value of footer height */
  height: 73px;
  clear:both;
  padding-top:20px;
} 
 
/*
 * Popcorn specific styles
 */
 
 
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
.movie {
  height: 32em; // ?
}
 
.movie-container {
  text-align: center;
  margin: 0.5em 0 3em 0;
 
  .title {
    font-family: Helvetica;
    font-size: 1.5em;
    padding: 0.5em;
    min-height: 4em;
  }
  a {
    color: black;
  }
 
  .thumbnail {
    width: 262px;
    margin: auto;
  }
}
 
.poster { 
   width: 250px; 
   height: 360px; 
   overflow: hidden; 
   margin: 0 auto;
 
   img { 
      width: 100%; 
   }
}
 
.thumbnail-poster { 
   width: 150px; 
   height: 216px; 
   overflow: hidden; 
   margin: 0 auto;
 
   img { 
      width: 100%; 
   }
}
 
 
.favorited-heart {
  font-size: 1em;
}
 
.movie-page {
  .movie-player-container {
    width: 100%;
    text-align: center;
  }
}
 
.movie-info {
   dt {
      width: 100px;
   }
   dd {
      margin-left: 110px;
      min-width: 5em;
   }
}
 
 
// responsive movies
// https://gist.github.com/jgarber/2302238
.flex-movie {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-movie.widescreen { padding-bottom: 57.25%; }
.flex-movie.vimeo { padding-top: 0; }
 
.flex-movie iframe,
.flex-movie object,
.flex-movie embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-movie { padding-top: 0; }
}