<!DOCTYPE html>
<html ng-app="youtubingApp">
  <head>
    <title>Youtubing</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            <h1>
          <a href="/">Youtubing!</a></h1>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right user-panel-container">
            <li class="active">
              <div user-panel></div>
            </li>
          </ul>
        </div>       
        <!--/.nav-collapse -->
      </div>
    </div>
    <div id="primary">
      <div ng-view></div>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>